﻿@import url("layout.css");
body {
	font-family: "Trebuchet MS", sans-serif;
	background-image: url("../images/background_tile.gif");
	background-repeat: repeat;
}
#container {
	border-right: 2px solid #8c8c8c;
	border-bottom: 2px solid #8c8c8c;
	border-left: 2px solid #8c8c8c;
	background-color: #fff;
}
#masthead {
	text-align: center;
	background-color: #fff;
}
#navigation {
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: #cdc;
}
html>body #navigation {
	overflow: hidden;
}
#column_l {
	width: 367px;
	padding: 15px;
	background-color: #fff;
}
html>body #column_l {
	width: 370px;
	padding: 0 15px;
	background-color: #fff;
}
html>body #column_lg {
	width: 670px;
	padding: 0 15px;
	background-color: #fff;
}
#column_r {
	width: 217px;
	padding: 15px 10px;
	background-color: #fff;
}
html>body #column_r {
	width: 220px;
	padding: 15px 10px;
	background-color: #fff;
}
#content {
	background-color: #fff;
}
#footer {
	text-align: center;
	padding-bottom: 10px;
}
html>body #footer {
	text-align: center;
	padding-bottom: 0;
}
/* Masthead */
#masthead h1 {
	color: #000;
	margin-bottom: 0;
}
#masthead h3 {
	color: #9a9;
	margin-top: 0.5em;
}
/* Navigation */
#navigation ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
}
#navigation a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
	display: block;
	padding: 5px;
	border: 1px solid #cdc;
}
#navigation a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	border: 1px solid #c77;
	background-color: #c77;
}

/* Right Column */
#column_r img {
	border: 1px solid #808080;
}
/* Site typography */
h1 {
	font-size: xx-large;
	color: #c77;
}
h2 {
	font-size: x-large;
	color: #c77;
}
h3 {
	font-size: large;
	color: #c77;
}
h4 {
	font-size: medium;
	color: #c77;
}
ul {
	font-size: small;
	color: #000;
}
ol {
	font-size: small;
	color: #000;
}
p {
	font-size: small;
	color: #000;
}
blockquote {
	font-size: small;
	color: #000;
}
h5 {
	font-size: x-small;
	color: #c77;
}
h6 {
	font-size: xx-small;
	color: #c77;
}
/* Footer */
#footer p {
	font-size: x-small;
	color: #c77;
}
/* Links */
a {
	color: #c55;
	text-decoration: underline;
}
a:hover {
	color: #9c9;
	text-decoration: none;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}
.gui_ref {
	font-family: "Courier New", Courier, monospace;
	font-style:italic;
}

.qs_q{
	font-weight: bold;
}

.blacktext{
	color:black;
	font-weight: normal;
}

.navi1{
	color:black;
	font-weight: bold;
}

.navi2{
	color:green;
	font-weight: bold;
}

.concepts_list {
	list-style: square inside;
	color: #6e984c;
	font-weight:bold;
}

.reil_example
{
	font-weight:bold;
	color: green;
}

td.columnTableHeader
{
	background-color: #99CCCC;
	font-family: Verdana;
	font-weight: bold;
	padding-left:5px;
}

td.columnTableName
{
	width:120px;
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid black;
	padding-left:5px;
}

td.columnTableType
{
	width:120px;
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid black;
	padding-left:5px;
}

td.columnTableDescription
{
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid black;
	padding-left:5px;
}

td.columnTableNameHeader
{
	width:120px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid black;
	padding-left:5px;
}

td.columnTableTypeHeader
{
	width:120px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid black;
	padding-left:5px;
}

td.columnTableDescriptionHeader
{
	font-family: Verdana;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid black;
	padding-left:5px;
}
